<nav class="navbar navbar-default clear">
    <div class="container-fluid">
      <div class="navbar-header">
          <img src="../assets/img/logo.jpg" alt="logo" class="img-responsive logo">
        <a class="navbar-brand" href="#">Ebay</a>
      </div>
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#"></a></li>-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
      </ul>
    </div>
  </nav>
